
@{
    ViewBag.Title = "Electronic Detective - View Murder Data";
}

<div class="container">
    <!-- Screen Title-->
    <div class="row">
        <div class="col-sm-12 bg-primary text-center">
            <h1>View Murder Data</h1>
        </div>
    </div>

    <!-- Blank row -->
    <div class="row">
        <div class="col-sm-12">
            <br />
            <br />
        </div>
    </div>

    <table>
        <tr>
            <td>
                Victim:
            </td>
            <td>
                @ViewBag.VictimId
            </td>
            <td>
                @ViewBag.VictimName
            </td>
            <td>
                @ViewBag.VictimPlaceId
            </td>
            <td>
                @ViewBag.VictimPlaceName
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Murderer:
            </td>
            <td>
                @ViewBag.MurderId
            </td>
            <td>
                @ViewBag.MurderName
            </td>
            <td>
                @ViewBag.MurderPlaceId
            </td>
            <td>
                @ViewBag.MurderPlaceName
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                Sex: @ViewBag.Sex
            </td>
            <td>
                Fled: @ViewBag.Location&nbsp;@ViewBag.Area
            </td>
            <td>
                Weapon: @ViewBag.WeaponUsed
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>
                Place A:
            </td>
            <td>
                Even Male: @ViewBag.AEvenMale&nbsp;Odd Male:@ViewBag.AOddMale&nbsp;Even Female:@ViewBag.AEvenFemale&nbsp;Odd Female:@ViewBag.AOddFemale
            </td>
            <td>Address:@ViewBag.ALocation&nbsp;@ViewBag.AArea</td>
            <td>Weapon:@ViewBag.AWeapon</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Place B:
            </td>
            <td>
                Even Male: @ViewBag.BEvenMale&nbsp;Odd Male:@ViewBag.BOddMale&nbsp;Even Female:@ViewBag.BEvenFemale&nbsp;Odd Female:@ViewBag.BOddFemale
            </td>
            <td>Address:@ViewBag.BLocation&nbsp;@ViewBag.BArea</td>
            <td>Weapon:@ViewBag.BWeapon</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Place C:
            </td>
            <td>
                Even Male: @ViewBag.CEvenMale&nbsp;Odd Male:@ViewBag.COddMale&nbsp;Even Female:@ViewBag.CEvenFemale&nbsp;Odd Female:@ViewBag.COddFemale
            </td>
            <td>Address:@ViewBag.CLocation&nbsp;@ViewBag.CArea</td>
            <td>Weapon:@ViewBag.CWeapon</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Place D:
            </td>
            <td>
                Even Male: @ViewBag.DEvenMale&nbsp;Odd Male:@ViewBag.DOddMale&nbsp;Even Female:@ViewBag.DEvenFemale&nbsp;Odd Female:@ViewBag.DOddFemale
            </td>
            <td>Address:@ViewBag.DLocation&nbsp;@ViewBag.DArea</td>
            <td>Weapon:@ViewBag.DWeapon</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Place E:
            </td>
            <td>
                Even Male: @ViewBag.EEvenMale&nbsp;Odd Male:@ViewBag.EOddMale&nbsp;Even Female:@ViewBag.EEvenFemale&nbsp;Odd Female:@ViewBag.EOddFemale
            </td>
            <td>Address:@ViewBag.ELocation&nbsp;@ViewBag.EArea</td>
            <td>Weapon:@ViewBag.EWeapon</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                Place F:
            </td>
            <td>
                Even Male: @ViewBag.FEvenMale&nbsp;Odd Male:@ViewBag.FOddMale&nbsp;Even Female:@ViewBag.FEvenFemale&nbsp;Odd Female:@ViewBag.FOddFemale
            </td>
            <td>Address:@ViewBag.FLocation&nbsp;@ViewBag.FArea</td>
            <td>Weapon:@ViewBag.FWeapon</td>
            <td></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect1Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect2Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect3Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect4Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect5Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect6Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect7Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect8Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect9Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect10Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect11Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect12Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect13Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect14Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect15Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect16Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect17Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect18Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect19Abili</td>
        </tr>
        <tr>
            <td colspan="6">@ViewBag.Suspect20Abili</td>
        </tr>
    </table>
